* {
  box-sizing: border-box;
}

#container {
  border: 1px solid black;
  width: 600px;
  justify-content: center;
  margin: auto;
}

.grid-row {
  flex: 1;
  display: flex;
}

.grid-square {
  flex: 1;
  border: 1px solid black;
  background-color: white;
}
