* {
  box-sizing: border-box;
}

body {
  background-color: #2b3d57;
}

#main-content {
  display: flex;
  margin-top: 100px;
  justify-content: space-evenly;
  align-items: center;
}

#spacer {
  display: flex;
  flex: 1;
  justify-content: center;
}

#container {
  border: 1px solid black;
  width: 800px;
  justify-content: center;
  box-shadow: 15px 15px #202e41;
}
.grid-row {
  display: flex;
  flex: 1;
}

.grid-square {
  flex: 1;
  border: 1px solid black;
}

#palette {
  display: flex;
  height: auto;
  width: 50%;
  padding: 5px;
  background-color: #898e8c;
  border: 2px dotted black;
  box-shadow: 10px 10px #202e41;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

#palette-header {
  width: 100%;
  text-align: center;
}

.palette-swatch {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

#palette-blue {
  background-color: blue;
}

#palette-pink {
  background-color: pink;
}

#palette-red {
  background-color: red;
}

#palette-green {
  background-color: green;
}

#palette-yellow {
  background-color: yellow;
}

#palette-orange {
  background-color: orange;
}

.palette-button {
  height: 20px;
}

#menu {
  display: flex;
  justify-content: center;
  padding: 40px;
  gap: 5px;
}

.menu-button {
  font-size: 20px;
}
